CREATE PROCEDURE [dbo].[CS_SP_SELECT_USER_MENU]
@UserID NVARCHAR(255)=''
AS	
BEGIN
--SELECT @UserID



--SELECT SYS_USER.[User ID]
--,SYS_USER.[TS]
--,SYS_MENUGROUP.[Menu Group Name]
--,SYS_MENU.[Menu Name] 
--,SYS_MENU.[Menu Url]
--,SYS_MENU.[Menu Pannel]
--,SYS_MENU.[Menu Tab]
--,SYS_MENU.[Display Sequence]
SELECT SYS_MENU.*
FROM SYS_MENUGROUP_USER_JUN
INNER JOIN SYS_USER ON SYS_USER.Ask = SYS_MENUGROUP_USER_JUN.[User]
INNER JOIN SYS_MENUGROUP_JUN ON SYS_MENUGROUP_JUN.[Menu Group] =   SYS_MENUGROUP_USER_JUN.[Menu Group]
INNER JOIN SYS_MENUGROUP ON SYS_MENUGROUP.Ask  = SYS_MENUGROUP_JUN.[Menu Group]
INNER JOIN SYS_MENU ON SYS_MENU.Ask = SYS_MENUGROUP_JUN.MENU
WHERE SYS_USER.[User ID]=CAST(@UserID AS NVARCHAR(255)) 
ORDER BY SYS_USER.[User ID],SYS_MENU.[Menu Tab],SYS_MENU.[Menu Pannel],SYS_MENU.[Menu Name]

 
END





