CREATE procedure [dbo].[CS_SP_GETCOLUMN]
@tableName VARCHAR(20)
AS 
	
SELECT COLUMN_NAME
,CAST(ORDINAL_POSITION AS varchar(4)) + ',' + DATA_TYPE AS DATA_TYPE
FROM INFORMATION_SCHEMA.COLUMNS WHERE TABLE_NAME = @tableName
AND (COLUMN_NAME NOT LIKE '% Ask' )--AND COLUMN_NAME != 'ASK')
AND COLUMN_NAME NOT IN ('Ask','TS','UD')



	
