CREATE PROCEDURE [dbo].[CS_SP_SELECT_USER]
@UserID NVARCHAR(255)=''
,@UserPassword NVARCHAR(255)=''
AS	
BEGIN
--SELECT @UserID
--SELECT @UserPassword
SELECT * FROM SYS_USER  
WHERE  SYS_USER.[User ID]= CAST(@UserID AS NVARCHAR(255)) 
AND  SYS_USER.[User Password] =CAST(@UserPassword AS NVARCHAR(255))  
END





